#background {
	position: fixed;
	top: 0;
	left: 0;
	max-height: 100%;
	opacity: 5%;
	font-family: $code-font-family;
	font-size: large;
	font-weight: bolder;
	text-align: center;
	overflow-wrap: anywhere;
	overflow-y: hidden;
	z-index: -1;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}