@use "animations/animations";
@use "tags/tags";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Mono:ital@0;1&display=swap');
$font-text: "Montserrat", sans-serif;
$font-mono: "Roboto Mono", monospace;

:root {
  --background:     #1B1B1B;
  --background-dim: #404040;
  --foreground:     #F5F5F5;
  --foreground-dim: #D0D0D0;
  --accent:         #00E0FF;
  --accent-dim:     #00D0EE;
  --accent-bright:  #00FFFF;
  --border:         #939393;

  background-color: var(--background);
  color:            var(--foreground);
  font-family:      $font-text, $font-mono;
  font-size:        18px;
  font-weight:      300;
}

.monospace {
  font-family:      $font-mono;
}