p {
	font-size: 1.25em;
}

ul {
	font-size: 1.25em;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2em;
	font-weight: 500;
}

h3 {
	font-size: 2em;
	font-weight: 100;
}

a {
	color: $link-normal;
	text-decoration: none;

	&:visited {
		color: $link-visited;
	}

	&:hover,
	&:active,
	&:focus,
	&:focus-visible,
	&:focus-within,
	&:target {
		color: $link-focus;
	}
}